# GitHub Config 저장소 주소
CONFIG_REPO_URI=

# 브랜치명 (기본값: main)
CONFIG_REPO_BRANCH=main

# GitHub 사용자명
CONFIG_REPO_USERNAME=

# GitHub Personal Access Token
# 발급: GitHub → Settings → Developer settings → Personal access tokens
CONFIG_REPO_TOKEN=

DB_USERNAME=
DB_PASSWORD=

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_APP_PASSWORD=

JWT_SECRET=