<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>토스페이먼츠 샘플 프로젝트</title>
    <!-- SDK 추가 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px; display: flex; flex-direction: column">
        <button class="button" style="margin-top: 30px" onclick="requestPayment()">결제하기</button>
        <button class="button" style="margin-top: 30px" onclick="addPaymentMethod()">결제수단추가</button>
        <button class="button" style="margin-top: 30px" onclick="changeOneTouchPay()">원터치페이설정변경</button>
        <button class="button" style="margin-top: 30px" onclick="changePassword()">비밀번호변경</button>
        <button class="button" style="margin-top: 30px" onclick="isOneTouchPayEnabled()">원터치결제사용가능여부 조회</button>
        <button class="button" style="margin-top: 30px" onclick="openSettings()">브랜드페이 설정 열기</button>
      </div>
    </div>
    <script th:inline="javascript">
      const clientKey = [[${clientKey}]];
      const customerKey = [[${customerKey}]];
      console.log("customerKey: " + customerKey);
      const tossPayments = TossPayments(clientKey);

      const brandpay = tossPayments.brandpay({
        customerKey,
        redirectUrl: [[${redirectUrl}]] + "?userId=" + [[${userId}]]
      });

      // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#brandpayrequestpayment
      async function requestPayment() {
        // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
        // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
        await brandpay.requestPayment({
          amount: {
            currency: "KRW",
            value: 50000,
          },
          orderId: generateRandomString(),
          orderName: "토스 티셔츠 외 2건",
          successUrl: window.location.origin + `/brandpay/success.html?customerKey=${customerKey}&`,
          failUrl: window.location.origin + "/fail.html",
          customerEmail: "customer123@gmail.com",
          customerName: "김토스",
        });
      }

      async function addPaymentMethod() {
        const result = await brandpay.addPaymentMethod();
      }

      async function changeOneTouchPay() {
        await brandpay.changeOneTouchPay();
      }

      async function changePassword() {
        await brandpay.changePassword();
      }

      async function isOneTouchPayEnabled() {
        const result = await brandpay.isOneTouchPayEnabled();

        alert(result);
      }

      async function openSettings() {
        const result = await brandpay.openSettings();
      }

      function generateRandomString() {
        return window.btoa(Math.random()).slice(0, 20);
      }
    </script>
  </body>
</html>
